<section class="phx-hero">
  <p>You are an individual and have one story, why do your devices not know your story? For each time you have to redefine, import, copy or share your story to resume your story</p>
  <p>Linkerd solves this problem starting right now with your browsers</p>
</section>

